<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<amexio-accordion [multi-open]="true">

  <amexio-accordion-tab amexioColorPalette [color-palette]="''" [gradient]="true" header="User Defined Data Type" [active]="true">
    <hr />
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch">
    <hr />
    <div class="table">
      <div class="row header">
        <div class="cell">Name</div> 
      </div>
      <div *ngFor="let Property of lstUserDefinedDataTypeDetails | search: query " class="row">
        <a [innerHTML]="Property.name | highlight: query" class="cell" data-title="Property" [routerLink]="['/UserDefinedDataTypeDetails',Property.istrNevigation]"> {{Property.name}}</a>
         

      </div>
    </div>
  </amexio-accordion-tab>

</amexio-accordion>
