<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MSSQL.Diary.SSIS.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
    <applicationSettings>
        <MSSQL.Diary.SSIS.Service.Properties.Settings>
            <setting name="SSISPackageSourceLocation" serializeAs="String">
                <value>C:\MSSQL.DIARY\src\MSSQL.DIARY.UI\ClientApp\src\assets\www</value>
            </setting>
            <setting name="SSISPackageJsonPath" serializeAs="String">
                <value>C:\MSSQL.DIARY\src\MSSQL.DIARY.UI\ClientApp\src\assets\www</value>
            </setting>
        </MSSQL.Diary.SSIS.Service.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ManagedDTS" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>