<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<amexio-accordion [multi-open]="true">

  <amexio-accordion-tab amexioColorPalette [color-palette]="''" [gradient]="true" header="User Defined Data Type  Name " [active]="true">
    <h5>
      <img src="./assets/icons/UserDefinedDataType.png" style="width: 30px !important;">
      {{lstUserDefinedDataTypeDetails.name}}
    </h5>
  </amexio-accordion-tab>
  <amexio-accordion-tab amexioColorPalette [color-palette]="''" [gradient]="true" header="MS Descriptions " [active]="true">

    <div class="table" *ngIf="!iblnShowEditBox">
      <div class="cell">
        <p>
          {{ms_des.desciption}}
        </p>
      </div>
      <a (click)="ShowModelPOP($event)" class="btn btn-default btn-lg a-btn-slide-text">
        <span class="fa fa-edit"></span>
      </a>
    </div>

    <div class="form-group" *ngIf="iblnShowEditBox">
      <textarea class="form-control" rows="5" id="comment" [(ngModel)]="ms_des.desciption"> </textarea>
      <div class="form-group" style="margin-left: 94%;"> 
        <a (click)="CancelTableMsDesciption($event)"><i class="fa fa-2x fa-times"></i></a>&nbsp;
        <a (click)="SaveTableMsDesciption($event)"><i class="fa fa-2x fa-save"></i></a>
      </div>
    </div>

  </amexio-accordion-tab>
  <amexio-accordion-tab amexioColorPalette [color-palette]="''" header="Properties" [gradient]="true" [active]="true">
    <div class="table">
      <div class="row header">
        <div class="cell">Property</div>
        <div class="cell">Values</div>
      </div> 
      <div class="row">
        <div class="cell">Allow Nulls</div>
        <div class="cell">{{lstUserDefinedDataTypeDetails.iblnallownull}} </div>
      </div>
      <div class="row">
        <div class="cell">Base Type Name</div>
        <div class="cell">{{lstUserDefinedDataTypeDetails.basetypename}}</div>
      </div>
      <div class="row">
        <div class="cell">Length</div>
        <div class="cell">{{lstUserDefinedDataTypeDetails.length}}</div>
      </div>
    </div>
  </amexio-accordion-tab>
  <amexio-accordion-tab amexioColorPalette [color-palette]="''" header="SQL Script" [gradient]="true" [active]="true">
    {{lstUserDefinedDataTypeDetails.createscript}}
  </amexio-accordion-tab>
  <amexio-accordion-tab amexioColorPalette [color-palette]="''" header="Used By" [gradient]="true" [active]="true">
    <div class="table">
      <div *ngFor="let Property of lstUserDefinedDataTypeReferance " class="row">
        <a [routerLink]="['/TableDetails',Property.istrNevigation]"> {{Property.objectname}}</a> 
      </div>
    </div> 
  </amexio-accordion-tab>

</amexio-accordion>

