@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}
.HideSplitBar {
  flex: 0 0 0 !important
  
}
.HideSplitBar div {
  flex: 0 0 0 !important;
  display:none !important;
   
}
.showSplitBar {

}
  .showSplitBar div
  {
    display: block !important;
  }

.ShowFullPageMode {
  order: 2;
  flex: 0 0 calc(100% - 15px) !important;
}
.RemoveFullPageMode {
  
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
