<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <amexio-accordion [multi-open]="true">
    <amexio-accordion-tab amexioColorPalette [color-palette]="''" header="View Name " [gradient]="true" [active]="true">

      <div class="table">
        <div class="cell">      
           <h5>
            <img src="./assets/icons/View.png" style="width: 30px !important;">
          {{View_Name}}
        </h5></div>
      </div>
    </amexio-accordion-tab>
    <amexio-accordion-tab amexioColorPalette [color-palette]="''" header="MS Description " [gradient]="true" [active]="true">
       

      <div class="table" *ngIf="!iblnShowEditBox">
        <div class="cell">
          <p *ngIf="View_ms_description!=undefined && View_ms_description.istrValue!=undefined">
            {{View_ms_description.istrValue}}
          </p>
        </div>
        <a (click)="EditView($event)" class="btn btn-default btn-lg a-btn-slide-text">
          <span class="fa fa-edit"></span>
        </a>
      </div>

      <div class="form-group" *ngIf="iblnShowEditBox">
        <textarea class="form-control" rows="5" id="comment" [(ngModel)]="View_ms_description.istrValue"> </textarea>
        <div class="form-group" style="margin-left: 94%;">

          <a (click)="CancelViewMsDesciption($event)"><i class="fa fa-2x fa-times"></i></a>&nbsp;
          <a (click)="SaveViewMsDesciption($event)"><i class="fa fa-2x fa-save"></i></a>
        </div>
      </div>

    </amexio-accordion-tab>
    <amexio-accordion-tab amexioColorPalette [color-palette]="''" header="View Properties" [gradient]="true" [active]="true">
      <div class="table">
        <div class="row header">
          <div class="cell">Uses ansi Nulls</div>
            <div class="cell">Uses quoted identifier</div>
            <div class="cell">Create date</div>
          <div class="cell">Modify date</div>
        </div>

        <div *ngFor="let Property of view_property " class="row">
          <div class="cell">{{Property.uses_ansi_nulls}} </div>
            <div class="cell">{{Property.uses_quoted_identifier}}</div>
            <div class="cell">{{Property.create_date}} </div>
            <div class="cell">{{Property.modify_date}}</div>
        </div>
      </div> 
    </amexio-accordion-tab>

    <amexio-accordion-tab amexioColorPalette [color-palette]="''" header="Columns" [gradient]="true" [active]="true">


      <div class="table">
        <div class="row header">
          <div class="cell">ColumnName</div>
          <div class="cell">Type</div>
          <div class="cell">Updated</div>
          <div class="cell">Selected</div>

          <div class="cell">Table Name</div>
        </div>

        <div *ngFor="let Property of viewColumns " class="row">

          <div class="cell">{{Property.column_name}} </div>
          <div class="cell">{{Property.type}}</div>
          <div class="cell">{{Property.updated}} </div>
          <div class="cell">{{Property.selected}}</div> 
          <a class="cell" [routerLink]="['/tblName',Property.NevigationLink]">{{Property.name}}</a>
        </div>
      </div> 
    </amexio-accordion-tab>

    <amexio-accordion-tab amexioColorPalette [color-palette]="''" header="Create Script " [gradient]="true" [active]="true">
      <ngx-prism *ngIf="view_script!=undefined && view_script.createViewScript !=undefined" [language]="language">
        {{view_script.createViewScript}}
      </ngx-prism> 
    </amexio-accordion-tab>

    <amexio-accordion-tab amexioColorPalette [color-palette]="''" header="Used By " [gradient]="true" [active]="true">

      <div class="table">
        <div class="cell"> 
          <ul>
            <li *ngFor="let Property of view_dependancies ">
              <a class="cell" [routerLink]="['/TableDetails',Property.NevigationLink]">{{Property.name}}</a>
            </li>
          </ul>
        </div>
      </div>

    </amexio-accordion-tab>

  </amexio-accordion>
